body {
  background-color: whitesmoke;
}
.paperstyle {
  padding: 30px;
  height: 65vh;
  width: 310px;
  margin: 70px auto;
}
.register {
  text-align: center;
}
.MuiOutlinedInput-input {
  padding: 12.5 px 14 px !important;
}
.MuiFormHelperText-root {
  color: red !important;
}
.MuiFormControl-root {
  margin: 6px !important;
}
.header {
  font-family: "Prompt", sans-serif;
}
.MuiButton-root {
  margin: 6px !important;
}
.MuiButton-text {
  padding: 6px 0px !important;
}
// todo rename button
.buttonConteners {
  display: flex;
  width: 103%;
  justify-content: space-between;
}
.MuiButton-fullWidth {
  width: 132px !important;
}
