.headerStyle {
  font-family: "Prompt", sans-serif;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
}

.marginTop {
  font-family: "Prompt", sans-serif;
  margin-top: 10px !important;
}

.bottomMargin {
  padding-bottom: 10px !important;
}

.paperStyleSignUP {
  padding: 20px 20px 30px 30px;
  margin: 20px auto;
  border-radius: 10px !important;
  width: auto;
  max-width: 690px;
  min-width: 100px;
}

.IMG {
  margin-top: 100px;
  width: 70%;
  margin-left: 50px;
}

.imgContain {
  font-family: "Prompt", sans-serif;
  margin-left: 45px;
  margin-top: -10px;
}

.Text {
  font-family: "Prompt", sans-serif;
  margin-left: 10px;
  color: #5f6368;
  margin-top: -12px;
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 400;
}

.Text1 {
  font-family: "Prompt", sans-serif;
  margin-left: 18px;
  color: #5f6368;
  margin-top: -18px;
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 400;
}
